/* colors */
$primary-color: #66be8e;
$secondary-color: #55B77F;
$dark-green: #00B77A;
$dark-gray: #CECECE;
$medium-gray: #666666;
$light-gray: #D5D5D5;
$black: #ffffff;
$white: #000000;

.App {
    font-family: Abrade, Avenir;
}